body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo body tối thiểu chiếm toàn bộ chiều cao viewport */
    margin: 0; /* Bỏ margin mặc định */
}
@media (max-width: 768px) {
    .inner-logo, .inner-img {
        display: none;
    }

    .inner-search {
        margin-left: 0; /* Dịch qua trái */
        width: 100%; /* Chiếm toàn bộ chiều rộng */
      }
}
header{
    background-color: #66C5FF;;
}
header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .inner-logo a {
    display: flex;             
    align-items: center;       
    justify-content: center;
  }
  
  .inner-img img {
    max-width: 100%;           
    height: auto;              
  }
  
  .inner-title {
    display: flex;
    margin-left: -65px
  }
  
  .title-first, .title-second {
    font-size: 24px;           
  }
  
  .title-second {
    font-weight: bold;
    color: #333;         
  }
  .inner-search form {
    display: flex;
  }
  
  .inner-search input {
    width: 100%;
    max-width: 500px;
    height: 50px;
  }
  .btn-outline-success {
    border-color: #28a745;
    padding: 12px 20px;
    font-size: 16px;
}

.inner-cart, .inner-user {
    margin-right: 20px;
    background-color: #F9F1F5;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: rotate(45deg);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .inner-cart a, .inner-user a {
    font-size: 1.5rem; /* Kích thước icon */
    color: #333;
    transform: rotate(-45deg); /* Màu mặc định */
  }
  
  .inner-cart a:hover, .inner-user a:hover {
    color: #28a745; /* Màu khi hover */
  }

  /* Cart */

.title {
    width: 200px;
    margin-top: 30px;
    margin-left: 0px;
    background-color: #66C5FF;
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    clip-path: polygon(0% 0%, 65% 0%, 75% 50%, 65% 100%, 0% 100%);
}
.cart-title h2 {  
    font-size: 20px;
    font-weight: bold;
   
}

.cart-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.cart-table {
    background-color: #DBECF7;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 5px;
}
input[type="checkbox"] {
    margin-right: 10px;
}
.cart-image {
    width: 60px;
    height: auto;
    margin-right: 10px;
}
.cart-item-details {
    display: flex;
    flex-direction: column;
}
.cart-summary {
    background-color: #DBECF7;
    padding: 20px;
    border-radius: 10px;
}
.btn_pay{
   text-align: center;
}
/* Footer */
footer {
    background-color: #66C5FF; /* Màu nền */
    width: 100%;
    z-index: 100; 
   
}

.contact-info p{
    text-align: center; /* Căn giữa chữ trong các mục thông tin liên hệ */
}
#section-one {
    margin-left: 0; 
    margin-right: 0;
}

.container {
    padding-left: 0; 
    padding-right: 0; 

}


/* Logo trong footer */
.footer-logo a {
    font-size: 44px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.footer-logo .title-second {
    font-size: 44px;
}

/* Icon Mạng xã hội */
.social-icons a {
    font-size: 35px;
}

.social-icons a:hover {
    color: #28a745; /* Màu khi hover */
}

.contact-info p:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}

/* Liên hệ */
.contact-info p {
    margin: 0;
    font-size: 14px;
}

/* Dòng chữ bản quyền */
footer p {
    font-size: 14px;
    color: #333;
}
