body {
    background-color: #89ccf4; 
}
.sec2 {
    border: 2px black; 
    margin-left: 50px;
    border-radius: 15px; 
    padding: 20px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.container {
    width: 100%;
    margin-top: 100px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    height: auto;
    font-size: 20px;
}

h1 {
    font-family: Jaro;
    color: #4A90E2; 
    font-size: 24px; 
}
.form-group label {
    font-weight: bold; 
}
.logo img{
    margin-left: 20px;
    width: 750px;
    height: 400px;
}
.sec1{
    border-radius: 100%; 
    background-color: #DBECF7; 
}
.acc{
    margin: 50px;
    color: #008BDF;
    text-align: left; 
    display: block;
}
.form-control{
    height: 45px;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}
.button{
    width: 300px;
    height: 45px;
    border-radius: 30px;
    color: #ffffff;
    background-color: #66C5FF;
    margin-top: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border: none;
    font-size: 24px;
}
.button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
}
.divider-container {
    display: flex;
    justify-content: center; 
    margin: 40px 0 30px; 
}
.divider {
    border-top: 2px solid #ccc; 
    width: 320px ;
    display: flex;
    justify-content: center; 
}
.resend{
    margin-bottom: 20px; 
}
span{
    color: #7f7f7f;
}
.resend-link{
    color: #ffdb66;
}